/* GENERAL */
body{
   font-family: 'Spectral', serif, 'Roboto', sans-serif;
   color: #191919;
}

button{
   cursor: pointer;
}

/* MOBILE */
/* HEADER */

svg{
   display: none;
}


header{
   background-color: #ffc017;
   border-bottom: 1.5px solid #191919;
   position: fixed;
   width: 100%;
   z-index: 5;
}

nav > ul {
   display: flex; 
   align-items: center;
   justify-content: space-around;
   padding: 1.5em 0;
}

nav li{
   list-style-type: none;
   flex-grow: 1;
}

nav ul li:first-child {
   flex: 10 0 20%;
   margin-left: 2em;
}

nav ul li:nth-of-type(5) button{
   border: 0;
   background-color: unset;
}

nav ul li:nth-of-type(6) button{
   border: 0;
    background-color: #191919;
    color: white;
    padding: 0.7em 1em;
    border-radius: 3em;
}

.notMobile{
   display: none;
}

/* MAIN */
main > section:first-child{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   height: 23em;
   background-color: #ffc017;
   padding: 2em 8em 0 2em;
   border-bottom: 1.5px solid #191919;
}


h1 {
   font-size: 4.5em;
   color:#191919;
   flex-basis: 1.4em;
   font-weight: 600;
}

section > p{
   flex-basis: 4em;
   font-size: 1.48em;
}

section > button{
   border: unset;
   background-color: #191919;
   color: white;
   padding: 0.5em 2.5em;
   border-radius: 4em;
   font-size: 1.1em;

}

/* SECOND SECTION */

#news-ranking{
   display: flex;
   flex-direction: column;
   padding: 3em 2em;
   height: 70vh;
   justify-content: space-between;
   border-bottom: 1px solid black;
   margin-bottom: 5em;
}

#trending{
   display: flex;
   align-items: center;
   gap: 1em;
}

#trending > p{
   font-size: 0.8em;
   font-weight: bold;
}

.news-item{
   display: flex;
   gap: 1.4em;
   align-items: baseline;
}

.news-item h3{
   color: #e6e7e7;
   font-size: 2em;
   font-weight: bold;
}

.news-item > div{
   display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 9vh;
}

.sectionDiv {
   display: flex;
   align-items: center;
   gap: 1em;
}

.sectionDiv > img{
   width: 1.5em;
    border-radius: 50%;
}

.sectionDiv > p{
   font-size: 0.9em;
   font-weight: 700;
}

.sectionDiv span{
   color: gray;
   font-weight: 400;
}

.titleP{
   font-weight: 1000;
   margin: 3px 0 5px;
}

.lastPsection{
   display: flex;
   justify-content: space-between;
   color: gray;
}

/* aside */

aside {
   padding: 0 0em 2em;
   border-bottom: 1.5px solid #75757540;
   margin: 0 1em 3em 1em;
 }
 
 aside h3 {
   font-weight: 700;
   margin-bottom: 1em;
 }
 
 aside > div {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5em;
 }
 
 #discover-topics > p {
   padding: 0.8em 1em;
   border: 1px solid #75757540;
   color: gray;
   font-weight: 500;
   font-size: 0.9em;
 }
 
/* THIRD SECTION */

#footer-links{
   padding: 0 1em 0;

}

#footer-links > li{
   display: inline-block;
   margin-right: 1.3em;
   color: gray;
   margin-bottom: 0.4em;
}





section:nth-of-type(3) > div{
   padding: 0 0em 0.3em 1em;
}

article .news-item{
   flex-direction: column;
   gap: 0em;
}

article .sectionDiv{
   flex-direction: row;
   height: 4vh;
}

article {
   padding: 0 2em 2em 1em;
   display: flex;
   align-items: center;
}

article .news-item > p{
   font-size: 1.5em;
   font-weight: bold;
}

article > img{
   width: 18vh;
   margin-left: 5vw;
}

article > div > p:nth-of-type(1){
   margin: 0.5vh 1vh;
   color: gray;
}

.descriptionP{
   color: gray;
   display: flex;
   justify-content: space-between;
}

.descriptionP>p{
   display: flex;
   align-items: center;
}

.descriptionP p>span{
   padding: 0.5em;
   border-radius: 2em;
   background-color: #80808021;
}
 

/* DESKTOP */

@media screen and (min-width: 1200px) {
   
   #svg{
      display: block;
      width: 50em;
   }
   #svgDiv{
      position: absolute;
      right: 19.6em;
      top: 4em;
   }

   main > section:first-child{
      padding: 2em 8em 0 10em;
      width: 100%;
      height: 21vh;
   }

   h1{
      font-size: 5.5em;
   }

   section > p{
      width: 42%;
   }

   .notMobile {
      display: block;
      
   }
   .notMobile > button{
      border: 0;
      background-color: unset;
      color: black;
      font-size: 1.1em;
   }

   nav > ul{
      padding: 1.5em 8em;
   }

   #news-ranking{
      height: 19vh;        
      justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3em 8em;
        width: 100%;
   }
   #trending{
      flex: 1 0 100%;
   }

   .news-item{
      width: 33%;
   }

   .lastPsection{
      gap: 1.2em;
      justify-content: flex-start;
   }

   aside{
      margin: 0 2em 3em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    float: right;
    width: 33%;
    height: 100%;
    position: relative;
   right: -11vw;
   }

   #footer-links {
      display: flex;
      margin-top: 2rem;
      width: 100%;
      float: right;
      flex-wrap: wrap;    
   }    

  main > div{
   position: absolute;
    left: 57em;
    top: 79em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 39%;
    border-top: 1px solid #8080804d;
  }

  main > section:nth-of-type(3){
   width: 47em;
  }

  article{
   
    width: 53vw;
    justify-content: space-between;
    gap: 2em;
    padding: 0 8em 2em;
  }

  article > div{
   width: 33em;
  }

  article .news-item{
   width: 30em;
  }

  article > img{
   width: 11vh;
   margin-left: 0;
  }




  
  
 
}